<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' type='text/css' rel='stylesheet' />
<link href='/css/style.css' type='text/css' rel='stylesheet' />
 
</head>
<script>
function dragElement(elmnt) {
		var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
		elmnt.onmousedown = dragMouseDown;

		function dragMouseDown(e) {
			e = e || window.event;
			e.preventDefault();
			// get the mouse cursor position at startup:
			pos3 = e.clientX;
			pos4 = e.clientY;
			
			document.onmouseup = closeDragElement;
			// call a function whenever the cursor moves:
			document.onmousemove = elementDrag;
		}

		function elementDrag(e) {
			e = e || window.event;
			e.preventDefault();
			// calculate the new cursor position:
			pos1 = pos3 - e.clientX;
			pos2 = pos4 - e.clientY;
			pos3 = e.clientX;
			pos4 = e.clientY;
			// set the element's new position:
			elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
			elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
		}

		function closeDragElement() {
			/* stop moving when mouse button is released:*/
			document.onmouseup = null;
			document.onmousemove = null;
			
			document.getElementById("dnsname").value=elmnt.id;
			document.getElementById("elX").value=elmnt.style.left;
			document.getElementById("elY").value=elmnt.style.top;
			document.forms["addAsset"].submit();
		}
	}
</script>


<body>
	<form id="addAsset" action="moveAsset" method="POST">
    <input type="hidden" id="dnsname" name="dnsname" value="">
	<input type="hidden" id="elX" name="elX" value="">
	<input type="hidden" id="elY" name="elY" value="">
	<input type="hidden" id="facility" name="facility" value="<%=title%>">
	</form>
	<div id="bp" style="position:relative;">
	<img id="blueprint" style="position:absolute; top:0;left:0;" src="blueprint.png">
	<div id="assetLayer" style="position:relative;">
		<% for (var i = 0; i < assets.length; i++) { %>
			<button class="<%=assets[i].state%>" id="<%=assets[i].name%>" title="<%=assets[i].name%>" style="position:absolute; top:<%=assets[i].y%>; left:<%=assets[i].x%>;" onclick="displayAsset(<%=assets[i].name%>);"></button>
			<script>dragElement(document.getElementById("<%=assets[i].name%>"));</script>
		<% } %>
	</div>
	
	</div>
<script>
	$("#blueprint").click(function(event){
		console.log("clientX: "+event.clientX+" - client Y: "+event.clientY);
		console.log($(event.target));
		 var asset= document.createElement("BUTTON");
		 asset.style.position="absolute";
		 asset.id="TEMPASSET"
		 asset.class="asset";
		 asset.innerHTML="TEXT";
		 asset.style.top=event.clientY+"px";
		 asset.style.left= event.clientX+"px";
		 var bp= document.getElementById("assetLayer");
		 bp.appendChild(asset);
		 
		 var modal=window.parent.document.getElementById("myModal")
		 modal.style.display="block"
		 window.parent.document.getElementById('elX').value= document.getElementById('TEMPASSET').style.left
		 window.parent.document.getElementById('elY').value= document.getElementById('TEMPASSET').style.top
		 
	});
	
	function displayAsset(aname){
		window.parent.document.getElementById('assetModal').style.display="block";
		window.parent.document.getElementById('dname').value=aname.title;
		window.parent.document.getElementById('assetFrame').src="/assets/"+aname.title;
	}
</script>
</body>


</html>